.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

ion-scroll {
    width: 100vw;
}

button {
    width: 50%;
    height: 50px;
    font-size: 1em;
}

.token {
    width: 100%;
}

p {
    font-size: 12px;
}

h1 {
    font-size: 16px;
}

.resp {
    width: 100%;
    height: fit-content;
    font-size: 12px;
    overflow: scroll;
}